<mat-grid-list [responsive]="responsive" (responsiveColsChange)="cols = $event" *ngIf="movies" rowHeight="300">
  <mat-grid-tile *ngFor="let movie of movies;">
    <a [routerLink]="[movie.id]" class="link">
      <mat-card class="card">
        <mat-card-content>
          <img mat-card-image [src]='movieService.basePosterUrl+movie.poster' [title]="movie.title">
          {{ movie.title }}
        </mat-card-content>
      </mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator pageSize='20' [length]="pages" (page)="setPage($event.pageIndex + 1)"></mat-paginator>
