<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu" (click)='drawerOpen = !drawerOpen'>
      <mat-icon aria-hidden="false" aria-label="Menu">{{ !drawerOpen ? 'menu' : 'menu_open' }}</mat-icon>
    </button>
    <span>Plurifilmes</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]='drawerOpen'>
    <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon>
    <a routerLink="/movies" class="link">Home</a>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
