<a routerLink="/movies" class="link">
  <button mat-icon-button aria-label="Voltar">
    <mat-icon aria-hidden="false" aria-label="Voltar">arrow_back</mat-icon>
  </button>
</a>
<mat-grid-list *ngIf="movie" [responsive]="responsive" (responsiveColsChange)="cols = $event" rowHeight="1:1.3">
  <mat-grid-tile>
    <img [src]='movieService.basePosterUrl+movie.poster' [title]="movie.title">
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ movie.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Nome Original: {{ movie.original_title }}</p>
        <p>Gênero: {{ movie.genre }}</p>
        <p>Site Oficial: <a [href]='movie.homepage'>{{ movie.homepage }}</a></p>
        <p>Produtoras: {{ movie.production_companies }}</p>
        <p>Data de Lançamento: {{ movie.getReleaseDate() }}</p>
        <p>{{ movie.overview }}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
